<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">@DateTime.Now.Year --- <a class="text-bold-800 grey darken-2" href="https://github.com/ismaksu/" target="_blank">ismaksu</a> tarafından sevgi ile yapıldı.</span>
    </div>
</footer>

<!-- BEGIN VENDOR JS-->
<script src="~/memberLyt/theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<!-- END PAGE VENDOR JS-->
<!-- BEGIN CHAMELEON  JS-->
<script src="~/memberLyt/theme-assets/js/core/app-menu-lite.js" type="text/javascript"></script>
<script src="~/memberLyt/theme-assets/js/core/app-lite.js" type="text/javascript"></script>
<!-- END CHAMELEON  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<!-- END PAGE LEVEL JS-->