<li class="nav-item dropdown navbar-search">
    <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#"><i class="ficon ft-search"></i></a>
    <ul class="dropdown-menu">
        <li class="arrow_box">
            <form>
                <div class="input-group search-box">
                    <div class="position-relative has-icon-right full-width">
                        <input class="form-control" id="search" type="text" placeholder="Arama yapın...">
                        <div class="form-control-position navbar-search-close"><i class="ft-x">   </i></div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</li>