@model ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ISM Traversal | Şifre Sıfırlama</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-5">
        <h3>ISM Traversal</h3>
        <h2>Şifre Sıfırlama Alanı</h2>
         <br />
        <form method="post">
            <label>Yeni Şifrenizi Giriniz:</label>
            <input type="password" asp-for="Password" class="form-control col-5" placeholder="Şifre.."/>
            <br />
            <label>Şifre Tekrarını Giriniz:</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control col-5" placeholder="Şifre Tekrarı.."/>
            <br />
            <button type="submit" class="btn btn-success">Şifreyi Sıfırla</button>
        </form>
    </div>
</body>
</html>